[label react-tabs-component/src/App.css] .tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  margin: 20px 20px;
  background: #9ca99d;
  color: white;
  border: 1px solid #9ca99d;
  border-radius: 8px;
  font-size: 33px;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  color: #9ca99d;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
